<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/cm"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cm"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        tools:targetApi="31">

        <activity
            android:name=".Activities.OpenningActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.CityManagerLoginActivity"/>
        <activity android:name=".Activities.CityManagerControlActivity"/>
        <activity android:name=".Activities.AddOrRemoveUsersActivity"/>
        <activity android:name=".Activities.InquiriesActivity"/>
        <activity android:name=".Activities.MessagesActivity"/>
        <activity android:name=".Activities.NewHazardActivity"/>
        <activity android:name=".Activities.AddNewMessageToCityActivity"/>
        <activity android:name=".Activities.MainActivity"/>
        <activity android:name=".Activities.ControlPanelForInquiriesActivity"/>
        <activity android:name=".Activities.ContactUsActivity"/>
    </application>

</manifest>